<h1>画像詳細</h1>
<p>以下の内容で投稿されました</p>

<table>
  <tr>
    <th>題名</th>
    <td><%= @task.title %></td></tr>
  <tr>
    <th>説明</th>
    <td><%= @task.description %></td>
  </tr>
  <tr>
    <th>User.Email</th>
    <td><%= @task.user.email %></td>
  </tr>
  <tr>
  <th>  
<% if @task.image? %>
  <%= image_tag @task.image.url %>
<% else %>
  
<% end %></th>
  </tr>

</table>
<p><%= link_to '一覧に戻る', tasks_path, method: :get %></p>

